
.mark-btn {
    text-align: center;
    /* margin: 0;
    padding: 0; */
    margin-left: 10px;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 17px;
    background-color: #66ff07;
    color: #fff;
    border: none;
}